body {
  font: 1em sans-serif Arial, Helvetica;
}

label {
  margin-left: 2px;
}

button {
  background-color: blue;
  height: 50px ;
  color: white;
  border: none;
  border-radius: 5px;
}
input {
  border: 1px solid gray;
  border-radius: 10px;
  height: 50px;
  border-color: whitesmoke;
}

.sizing {
  height: 75%;
}

.customTableSizing{
 width: 125px; 
}

.floating-label {
  position: relative;
  margin-bottom: 1.5rem;
}

.floating-label input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.floating-label label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(124, 123, 123);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
  background: white;
  padding: 0 4px;
}

.floating-label input:focus,
.floating-label input:not(:placeholder-shown) {
  border-color: #1004fc; 
}

.floating-label input:focus ~ label,
.floating-label input:not(:placeholder-shown) ~ label {
  top: -1px; 
  font-size: 13px; 
    color: #0f02fd;
  border-radius: 10px; 
}

#dynamicTable {
  width: 100%;                 
  border-collapse: collapse;   
  table-layout: fixed;        
}
#dynamicTable th{
  color: rgb(117, 117, 117);
}
#dynamicTable td:last-child {
  color: rgb(117, 117, 117);         
}
#dynamicTable th, 
#dynamicTable td {
  width: calc(100% / 7);      
  text-align: start;
  border-bottom: 2px solid rgb(168, 168, 168);
  box-shadow: 1px solid rgb(168, 168, 168);
  height: 80px;               
  padding: 8px;
  text-transform: capitalize;
}
